<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <%- include('../components/head') %>
</head>

<body>


    <div class="wrapper">
        <!-- Sidebar  -->
        <%- include('../components/sidebar') %>

            <!-- Page Content  -->
            <div id="content">

                <%- include('../components/navbar') %>
                    <div class="container">
                        <div class="row justify-content-between">
                            <div class="col-4">
                                <h2>Data User</h2>
                            </div>
                            <div class=".col-md-4 .offset-md-4">
                                <a href="/users/add" class="btn btn-success"><i class="fas fa-plus"></i> Tambah User</a>
                            </div>
                        </div>
                    </div>
                    <div class="table-responsive">
                        <table class="table table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Username</th>
                                    <th scope="col">Nasma Lengkap</th>
                                    <th scope="col">Email</th>
                                    <th scope="col">Password</th>
                                    <th scope="col">Aksi</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% for (let i = 0; i < data.length; i++){ %>
        <tr >
          <td ><%= data[i].id %></td>
          <td ><%= data[i].username %></td>
          <td ><%= data[i].name %></td>
          <td ><%= data[i].email %></td>
          <td ><%= data[i].password %></td>
          <td>
            <a href="/users/<%=data[i].id%>/edit" class="btn btn-warning">Edit</a> 
            <a href="/users/<%= data[i].id%>/delete" class="btn btn-danger">Delete</a>
          </td>
        </tr>
        <% } %>
                            </tbody>
                        </table>
                    </div>
            </div>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <%- include('../components/script') %>
</body>

</html>